/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #202030;
	    background-image: linear-gradient(#6952DB, white);
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #E6E1FF;
	border-bottom: 2px solid #AF99FF;
}

.resume-main {
	background-color: #E6E1FF;
	border-right: 2px solid #AF99FF;
}

.resume-aside {
	background-color: #E6E1FF;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

a {
	color: #6952DB
}

.name-color{
	color: #6952DB
}

.color-languageprogress{
	background-color:#AF99FF;
	
}

.color-border-languageprogress{
	border: 2px solid #6952DB
}
